.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white : #fff;
  --primary-orange : #dd7f14e8;
  --primary-dark: rgba(255,255,255,0);
  --primary-burgendy:rgba(94, 24, 6, 0.856);
}

body{
  font-family: "Roboto Condensed" ,sans-serif;
  width:auto;
  height: auto;
}


/***** NAVBAR*****/
nav{
  z-index: 2;
}

.logo{
  width :5 rem;
}

/***** NAVBAR*****/

nav a.nav-link{

  letter-spacing: 0.0375rem;
  cursor:pointer;
}

nav ul li {
  text-transform: uppercase;
 
}


.navbar-nav > li>a{
  margin-left: 0.75rem ;
  margin-right: 00.75rem;
  color: var(--primary-white)!important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
max-width: 17.25rem;  
padding:0 !important;
height: 7rem !important;
}

.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus {

  border-top: 0.1875rem  solid var(--primary-orange);
}


.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}


/***** Header*****/

.header-wrapper{
  color:black;
  position:relative;
  background:url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height:90vh;
}
.headertxt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed",sans-serif;
  
}

.headertxt > h2{
  padding-top: 5rem;
  color:var(--primary-white);


}
.headertxt >h3{
  color: var(--primary-white);
}

/***** typedtext*****/

.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
  padding-left: 8rem;
}

/***** header btn*****/

.btn1{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed",sans-serif;
   

}

.btn-maincls{
  z-index: 2;
  margin-top: 10.5rem;
  margin-left: 5rem;
  padding-top: 1rem;
  width: 8rem;
  height: 6rem;
  border: 2px solid var(--primary-burgendy);
  border-radius: 8px;
  color: var(--primary-white);
  background-color: rgb(245, 168, 97);
  transform:rotate(-30deg) skewX(25deg) translate(0,0);
  transition: 0.5s ;
  box-shadow: -20px 20px 10px rgba(243, 148, 70, 0.5);
}

.btn-maincls:hover{
  text-decoration:solid;
  background-color: lightgreen;
  transform: rotate(10deg);
}
  



/***** particles*****/

.tsparticles-canvas-el{
  position: absolute;
  z-index: 1;
}
